@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
*{
    margin: 0;
    padding:0;
    text-align:center;
    
    /* background-color:black; */
}

.App{
    background-color:black;
    color:white;
    min-height: 100vh;
    max-height: 100%;
}
.footer{
    position: fixed;
    bottom:0;
    width: 100vw;
    margin: 0 auto;
    margin-top:10px;
    background-color:#8e0101;
    padding:10px;

}


.header{
    background-color:#8e0101;
}

#nav a{
    text-decoration:none;
    padding:10px;
    margin:10px;
    background-color: white;
    border-radius:15px;
    color:red;
    font-weight:bold;
}

#nav a:hover{
    background-color:black;
}

#nav{
    padding-top:40px;
    margin-bottom:40px;
    background-color:#8e0101;
}
#logo{
    font-family: 'Limelight', sans-serif;
    padding-bottom:40px;

}

.main {
    margin-top:50px;
}

.home img{
    margin-top: 40px;
    margin-bottom:20px;
    border-radius:15px;
    width: 500px;
}

.grid-container{
    padding-left: 50px;
    padding-right:50px;
    display: grid;
    justify-content:center;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    grid-gap:20px;
 
}

.card{
    line-height:1.5em;
    padding:10px;
    border-radius:15px;
    box-shadow:2px,2px,3;
    background-color:gray;

}

.card h2{
    margin-bottom:20px;
}

.card h6, .card h4{
    text-align:left;
}

.card img{
    width: fit-content;
}
.ticketbutton{
    display:visible;
}

#purchased_note{
    display:hidden;
}


#email, button{
font-size:11px;
font-weight:bold;
background-color:rgba(255,255,255,.2);
border: 1px solid transparent;
color:white;
padding:3px;
margin:1px;
border-radius:15px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#email:hover{
    background-color:black;
}